resources:
  - name: pipelines-repo
    type: git
    source:
      uri: https://github.com/samsimpson1/pipelines
      branch: main
jobs:
  - name: configure-pipelines
    plan:
      - get: pipelines-repo
        trigger: true
      # main pipeline
      - set_pipeline: configure-pipelines
        file: pipelines-repo/configure-pipelines.yaml
      # ansible
      - set_pipeline: ansible-lint
        file: pipelines-repo/ansible/ansible-lint.yaml
      - set_pipeline: ansible-container-build
        file: pipelines-repo/ansible/ansible-container-build.yaml
      - set_pipeline: ansible-deploy
        file: pipelines-repo/ansible/ansible-deploy.yaml
      # terraform
      - set_pipeline: terraform-public
        file: pipelines-repo/terraform/terraform-public.yaml
      # renovate
      - set_pipeline: renovate
        file: pipelines-repo/renovate/pipeline.yaml
      # misc
      - set_pipeline: storage-box-metrics-image
        file: pipelines-repo/storage-box-metrics-image/pipeline.yaml