---
resources:
  - name: ansible
    type: git
    source:
      uri: https://github.com/samsimpson1/ansible
      branch: main
jobs:
  - name: ansible-lint
    plan:
      - get: ansible
        trigger: true
      - task: run-ansible-lint
        config:
          platform: linux
          image_resource:
            type: docker-image
            source:
              repository: ghcr.io/samsimpson1/ansible
              tag: "latest"
          inputs:
            - name: ansible
          run:
            path: bash
            args:
              - "-c"
              - |
                echo "((ansible-vault.password))" > vault-password
                cd ansible
                ansible-galaxy install -r requirements.yaml
                ANSIBLE_VAULT_PASSWORD_FILE=../vault-password ansible-lint
